*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #e53170 ;
    text-align: center;
    padding-top: 40px;
    font-family: 'Fredoka One', cursive;
    padding-bottom: 10px;
}

.row{
    text-align-last: center;
    font-size: x-large;
    padding-bottom: 40px;
}